# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*
/1.Containers-VMs/1.1.Vagrant+Packer/2_1/.vagrant/
/1.Containers-VMs/1.1.Vagrant+Packer/2_2/.vagrant/
/1.Containers-VMs/1.1.Vagrant+Packer/2_3/.vagrant/
/1.Containers-VMs/1.1.Vagrant+Packer/2_3/provisioning/virtualbox.rb
.DS_Store
/1.Containers-VMs/.DS_Store
/1.Containers-VMs/1.1.Vagrant+Packer/.DS_Store
/1.Containers-VMs/1.3.Kubernetes/.DS_Store
jk_notes
/5.AWS/.DS_Store
/scp.md
/.gitignore
/6.Cloudformation-Terraform/2.terraform/.terraform/
/6.Cloudformation-Terraform/2.terraform/.terraform.lock.hcl
/6.Cloudformation-Terraform/2.terraform/terraform.tfstate
/6.Cloudformation-Terraform/2.terraform/terraform.tfstate.backup
/7.Azure/.terraform/
/8.Cloudformation-Bash/wp-conf-backup
/8.Cloudformation-Bash/wp-custom-conf-backup
/8.Cloudformation-Bash/g-r.html
